.button {
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    background-color: #000000;
    color: #FFFFFF;
    border-radius: 50px;
    padding: 10px;
    border: none;
    text-align: center;
    text-decoration: none;
    cursor: pointer;

    &:hover {
      	opacity: 0.85;
    }
}